parameters:
    # A level must be specified here or else with every command
    level: 10
    # Don't analyze /vendor/ dir (though it will be scanned)
    excludePaths:
        - vendor/
    # "Discover Symbols" (but don't analyze) in the entire WP install
    scanDirectories:
      - ../../../