# Default PHPStan configuration, indended for local development where ../../../ leads to a full WP install
parameters:
    # A level must be specified here or else with every command
    level: 10
    excludePaths:
        # Scan but exclude from analysis /vendor/ and generated wp-browser files
        analyse:
            - vendor/
            - tests/Support/
        # Don't even scan (excluded from both analyze and scan) wordpress folder, otherwise it finds symlinks in /tests/_wordpress/wp-content/themes/ and goes crazy
        analyseAndScan:
            - tests/_wordpress/
    # "Discover Symbols" (but don't analyze) in the entire WP install
    scanDirectories:
      - ../../../