/*
Theme Name: Jer's Twenty Twentyfive Child Theme
Theme URI: https://github.com/jerclarke/jer-twentytwentyfive-child-theme
Author: Jer Clarke
Author URI: https://jerclarke.org
Description: Jer's personal child theme of 2025
Requires at least: 6.8
Tested up to: 6.8
Requires PHP: 5.7
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: twentytwentyfive
Text Domain: jer-twentytwentyfive-child-theme
GitHub Theme URI: https://github.com/jerclarke/jer-twentytwentyfive-child-theme
Tags: 
*/

/* Seems there's no way to alter the breakpoints where columns switch from 3 to 1, this raises it from 600 to 100 for post grids */
@media (max-width: 1000px) {
	.wp-block-post-template-is-layout-grid {
		grid-template-columns: 1fr;
	}
}

/* Some aggressive text-wrap values that can't go in theme.json*/
body {
	text-wrap: pretty;
}

/* AFAICT no way to style inline <code> blocks using theme.json. Inadvertently also affects code block which CAN otherwise be styled. */
code {
	font-family: var(--wp--preset--font-family--system-monospace);
	background: var(--wp--preset--color--accent-3);
	color: var(--wp--preset--color--contrast);

	/* Make it a lil smaller than surrounding text and add padding */
	padding: .1em .2em;
	font-size: .9em;
}

/* https://wordpress.stackexchange.com/questions/431775/how-can-i-change-the-background-color-of-the-built-in-navigation-modal-of-wordpr/431776#431776 */
:root.has-modal-open {
	--wp--preset--color--base: var(--wp--preset--color--accent-1);
	--wp--preset--color--contrast: #fff;
}

.wp-block-query .wp-block-post-title,
.wp-block-media-text * {
	text-wrap: balance;
}

/* Media & Text block is foolish, remove 8% side padding on text section and replace with sensible gap */
.wp-block-media-text>.wp-block-media-text__media {
	align-self: start;
}
.wp-block-media-text {
	gap: 4vw;
}

.wp-block-media-text>.wp-block-media-text__content {
	padding-left: 0;
	padding-right: 0;
}
.wp-block-media-text>.wp-block-media-text__content p:first-child {
	margin-block-start: 0;
}

/* Comments styles because I don't want to override the template and there's nothing to hook into for each .comment */
.wp-block-comments-query-loop {
	margin-top: var(--wp--preset--spacing--50) !important;
}
.wp-block-comments .comment {
	border-left: 2px solid #ddd;
	border-left: 2px solid var(--wp--preset--color--accent-3);
	padding-left: 1.2rem;
}
.wp-block-comments .comment > .wp-block-group {
	padding-bottom: var(--wp--preset--spacing--30);
}
/* This could go in theme.json if it wasn't for the "+" */
.comment + .comment-respond {
	margin-top: calc(var(--wp--preset--spacing--50) * -1);
}