/*
Theme Name: Jer's Twenty Twentyfive Child Theme
Theme URI: 
Author: 
Author URI: 
Description: 
Requires at least: 6.8
Tested up to: 6.8
Requires PHP: 5.7
Version: 
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: twentytwentyfive
Text Domain: jer-twentytwentyfive-child-theme
Tags: 
*/

/* Seems there's no way to alter the breakpoints where columns switch from 3 to 1, this raises it from 600 to 100 for post grids */
@media (max-width: 1000px) {
	.wp-block-post-template-is-layout-grid {
		grid-template-columns: 1fr;
	}
}

/* Terms and dates in post promo blocks had huge spacing matching blockGap and I couldn't find a way to remove the gap only inside of the post-template, so here we just reduce it to something reasonable. */
:root .wp-block-post .wp-block-post-date,
:root .wp-block-post .wp-block-post-terms {
	margin-block-start: clamp(.15rem, 1vw, .25rem);
}

/* Some aggressive text-wrap values that can't go in theme.json*/
body {
	text-wrap: pretty;
}
.wp-block-query .wp-block-post-title,
.wp-block-media-text * {
	text-wrap: balance;
}

/* Media & Text block is foolish, remove 8% side padding on text section and replace with sensible gap */
.wp-block-media-text>.wp-block-media-text__media {
	align-self: start;
}
.wp-block-media-text {
	gap: 4vw;
}

.wp-block-media-text>.wp-block-media-text__content {
	padding-left: 0;
	padding-right: 0;
}
.wp-block-media-text>.wp-block-media-text__content p:first-child {
	margin-block-start: 0;
}

/* Comments styles because I don't want to override the template and there's nothing to hook into for each .comment */
.wp-block-comments-query-loop {
	margin-top: var(--wp--preset--spacing--50) !important;
}
.wp-block-comments .comment {
	border-left: 2px solid #ddd;
	border-left: 2px solid var(--wp--preset--color--accent-3);
	padding-left: 1.2rem;
}
.wp-block-comments .comment > .wp-block-group {
	padding-bottom: var(--wp--preset--spacing--30);
}
/* This could go in theme.json if it wasn't for the "+" */
.comment + .comment-respond {
	margin-top: calc(var(--wp--preset--spacing--50) * -1);
}