<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
	<!-- wp:group {"align":"wide"} -->
	<div class="wp-block-group alignwide" >
		<!-- wp:query-title {"type":"archive"} /-->
		<!-- wp:term-description /-->
	 </div>
	<!-- /wp:group -->
	<!-- wp:pattern {"slug":"jer-twentytwentyfive-child-theme/jer-template-query-loop-grid"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
